.contentBox {
  margin-top: 64px;
  @media screen and (max-width: 600px) {
    margin-top: 56px;
  }
}

.mainContentBox {
  height: calc(100vh - 64px);
  @media screen and (max-width: 600px) {
    height: calc(100vh - 56px);
  }
}

.boxSidebar {
  display: block;
  @media screen and (max-width: 600px) {
    display: none;
  }
}